<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/png" th:href="@{/img/Logos/Favicon.png}">
    </head>
    <body>
        <div th:replace="~{general/fragmentos :: header}"></div>
       
        
        
 <section class="py-5" style="background-color: #f4b6c2; color: white;">
  <div class="container">
    <h2 class="text-center mb-4" style="color: #c06c84;">Nosotros</h2>


    <div class="mb-4">
      <h4>Propósito</h4>
      <p>En LEX Beauty Consulting creemos que la belleza va más allá del maquillaje: es una expresión de confianza, autocuidado y autenticidad. Nuestra misión es acompañarte en el camino hacia tu mejor versión, con asesoría experta y atención personalizada</p>
    </div>

    <div class="mb-4">
      <h4>📜 Historia</h4>
      <p>Nacimos con la convicción de que cada persona merece sentirse bien consigo misma. A lo largo de nuestra trayectoria, hemos transformado rutinas en momentos de amor propio y asesorías en experiencias que empoderan. Cada paso que damos está guiado por el deseo de generar bienestar real y duradero.</p>
    </div>
    
    <div class="mb-4">
      <h4>💡 Valores</h4>
      <ul class="list-unstyled">
        <li>• Confianza</li>
        <li>• Autenticidad</li>
        <li>• Amor popio</li>
        <li>• Atención a los detalles</li>
        <li>• Pasión por el bienestar</li>
      </ul>
    </div>

    <div class="mb-4">
      <h4>👥 Nuestro equipo</h4>
      <p>Nuestro equipo está formado por profesionales apasionados por el cuidado personal, la estética y el bienestar integral. Cada asesoría se realiza con conocimiento, sensibilidad y compromiso, para que cada cliente se sienta escuchado, valorado y acompañado.</p>
    </div>

    <div class="mb-4">
      <h4>🚀 Lo que nos hace diferentes</h4>
      <p>No creemos en soluciones genéricas. En LEX Beauty Consulting, cada recomendación nace del diálogo, la observación y el respeto por tu estilo único. Transformamos el cuidado personal en una experiencia que empodera, inspira y conecta contigo.</p>
    </div>

    <div class="text-center mt-5 fst-italic">
      <p>Tu belleza es única. Nosotros solo te ayudamos a descubrirla.</p>
    </div>
  </div>
</section>
        
        
        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
